/* Allmän styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a202c; /* Mörk bakgrundsfärg */
    color: #fff; /* Vit textfärg */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .hammer{
    width: 30%;
    margin-right: 0;
  }
  /* Header */
  header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  header h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  header h1 span {
    color: #fff;
    font-weight: 800;
  }
  
  header p {
    margin-top: 10px;
    font-size: 1.25rem;
  }
  
  /* Navigation */
  nav {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .nav-link {
    background-color: #fff;
    color: #2d3748; /* Mörkare textfärg för knappar */
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-link:hover{
    background-color: #97439D;
    color: white;
}



  
  /* Sektion för projekt */
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .project-card {
    display: flex;
    background-color: #fff;
    color: #2d3748;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .project-card .project-image {
    width: 33%;
    background-color: #f7fafc;
    display: flex;
 

  }
  
  .project-card .project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .project-card .project-info {
    width: 67%;

  }
  
  .project-card .project-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
   
  }
  
  .project-card .project-info p {
    font-size: 1rem;
    color: #4a5568; /* Mörkare grå textfärg */
  }
  
  .project-card .project-info .tags {
    display: flex;
    gap: 10px;
  }
  
  .project-card .project-info .tags .tag {
    background-color: #edf2f7;
    color: #2d3748;
    border-radius: 100px;
    font-size: 0.875rem;
  }
  
  .project-card .project-info .tags .tag:hover {
    background-color: #e2e8f0;
  }

/* För att säkerställa att hela kortet är flexbox */
.project-container {
    margin: 3%;
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lätt skugga för kortet */
  }
  
  /* För att bildens höjd ska vara lika med textens höjd */
  .project-image {
    width: 50%; /* Sätt storleken på bilden */
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%; /* Sätt höjden till 100% av containerhöjden */
  }
  
  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gör att bilden täcker hela utrymmet utan att deformeras */
  }
  
  /* Textcontainer */
  .project-text {
    width: 70%; /* Textens bredd */

    background-color: #fff;
    height: 100%; /* Gör att texten tar upp hela höjden */
    display: flex;
    flex-direction: column; /* Gör att vi kan justera textinnehållet */
    justify-content: space-between; /* För att sprida ut innehållet jämnt */
    text-align: left;
    margin-left: 30px;
  }



  
  /* Stilar för texten */
  .project-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #000;
  }
  
  .project-description {
    margin-top: 10px;
    color: #555;
  }
  
  .project-tags {
    margin-top: 15px;
  }
  
  .project-tag {
    background: radial-gradient(circle, #000000,#97439D);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.875rem;
    margin-right: 5px;
  }
  
/* Optional: Adding hover effect for smoother transitions */


  /* Container för alla kontaktkort */
  .contact-card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  /* Stil för varje kontaktkort */
  .contact-card {
    width: 33%;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  
  /* Hover-effekt för korten */
  .contact-card:hover {
    transform: translateY(-5px);  /* Flytta kortet uppåt vid hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Gör skuggan lite mer framträdande vid hover */
  }



  .icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  

  .contact-card i {
    font-size: 3rem;
    color: #6b46c1;
    margin-right: 1rem;
  }
  

  .contact-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    
  }
  
  .button a {
    background-color: #F5F5F5;
    color: black;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button a:hover{
    background-color: #97439D;
    color: white;
  }

  .aboutme-page{
    align-items: center;
  }
  
  

  .aboutme-container{
    display: flex;
  }

  .profilePic{
    margin-left: auto;
    margin-right: 0;
    width: 15%;
    height: 15%;
  }
  
  .aboutme-text{
    margin-right: auto;
    margin-left: 3%;
    width: 50%;
    text-align: left;
  }

  .cv-wrapper{
    margin-top: 20px;
  }

  .readMore{
    background-color: transparent;
    margin-top: 7%;
    color: #000;
    padding: 0;
  }



















  
  
  /* Mobilresponsivitet */
  @media (max-width: 768px) {
    .project-card {
      flex-direction: column;
    }
  
    .project-card .project-image {
      width: 100%;
      height: auto;
    }
  
    .project-card .project-info {
      width: 100%;
      
    }
  }
  